#box1{
    margin-top: 25px;
    margin-bottom: 25px;
    margin-left: 25px;
    margin-right: 25px;
    background-color: rgb(98, 193, 85);
    height: 100px;
    width: 100px;
    border: 2px solid  black;
    
}

#box2{
    height: 100px;
    width: 100px;
    border: 2px solid black;
    background-color: blueviolet;
    margin-top: 25px;
    margin-bottom: 25px;
    margin-left: 25px;
    margin-right: 25px;
   
}

#box3{
    height: 200px;
    width: 200px;
    border: 2px solid black;
    background-color: rgb(21, 21, 66);
    margin: auto;
    margin-top: 50px;
}

#box4{
    height: 100px;
    width: 100px;
    border: 2px solid black;
    background-color: rgb(175, 54, 54);
    margin: auto;
    margin-top: 50px;
}

#box5{
    height: 300px;
    width: 300px;
    border: 2px solid black;
    background-color: rgb(251, 232, 59);
    
    

}

#box6{
    height: 50px;
    width: 50px;
    border: 2px solid black;
    background-color: rgb(136, 65, 150);
    margin: auto;
    margin-top: 25px;
}

#box7{
    height: 25px;
    width: 25px;
    border: 2px solid black;
    background-color: rgb(232, 121, 158);
    margin: auto;
    margin-top: 12.5px;
}

*{
    padding: 0;
    margin: 0;
    color: white;

}

#navbar{
    height: 70px;
    background-color: #0f1111;
}

#logo{
    color: #f0880f;
    font-size: 25px;
}

button{
    background-color: #f0880f;
}

a{
    margin-right: 250px;
    text-decoration: none;
}

#one{
    height: 100px;
    width: 100px;
    border: 2px solid black;
    background-color: palevioletred;
}
#two{
    height: 100px;
    width: 100px;
    border: 2px solid black;
    background-color: yellow;
}
#three{
    height: 100px;
    width: 100px;
    border: 2px solid black;
    background-color: rgb(230, 250, 244);
}